 *{
    margin: 5px;;
    padding: 5px;
    box-sizing: border-box;
      }
      body{
        background-color: lightgray;
      }
 
 .welcome{
        
        color: aqua;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:xx-large;
        font-display: block;
        border: 1px dotted;
        border-color:cadetblue;
        border-radius: 0%;
        border-width:5px;
        flex: 1;   
        text-align: center;
      }
      h3{
        border-radius: 100%;
        background-color: coral;
        font-weight: bolder;
        font-display:block;
        width: 6%;
      }
         .details{
        color: bisque; 
        background-color:burlywood;
        width: 95%;
      }
      .center,h3{
        text-align: center;
      }

  .login-btn{
  text-align: right;
  margin-right: 20px;
  border:2px dashed blue;
}
.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}
#intro{
  border:5px solid;
  border-color:burlywood;
  border-radius:50px;
  border-top: none;
  
}
#list{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 20px;
}
